<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AKAR IDENTITY APP</title>
    <link rel="stylesheet" href="\node_modules\bootstrap\dist\css\bootstrap.min.css" />
</head>
<body>
    <header>
        @await Component.InvokeAsync("NavbarViewComponent");
    </header>
    <section>
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <script src="C:\Users\mberk\OneDrive\Masaüstü\AKAR.WebUI\AKAR.WebUI\node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"> </script>
</body>
</html>
